[TG]
ADMIN_ID=00000000000
SUPPORT_LINK=""
GRUPP_LINK=""
API=""
PRICE_PER_MONTH=150

[WEB]
PAY_DOMEN="example.com"
PAY_WEBHOOK="yookassa_webhook"
FLASK_PORT=5000

[3XUI]
XUI_URL="https://example.com/asdgd/panel"
XUI_API_TOKEN=""
XUI_SUB_LINK="https://example.com:1111/sub"
XUI_INBOUND_IDS=1,2,3
XUI_EXPIRY_DAYS=30

[UKASSA]
SHOP_ID=""
SECRET_KEY=""
