[DEFAULT]
# ================== TG ==================
ADMIN_ID=00000000000
SUPPORT_LINK=""
GRUPP_LINK=""
API=""

# ================== Payment ==================
PRICE_PER_MONTH=150

# ================== X-UI / 3x-ui ==================
XUI_URL="https://example.com/asdgd/panel"
XUI_API_TOKEN=""
XUI_SUB_LINK="https://example.com:1111/sub"
XUI_INBOUND_IDS=1,2,3
XUI_EXPIRY_DAYS=30

[UKASSA]
PROVIDER_TOKEN=""
SHOP_ID=""
SECRET_KEY=""
